<footer class="site-footer">
  <div class="footer-inner bg-white">
    <div class="row">
      <div class="col-sm-6">Copyright &copy; 2024-nji ýyl</div>
      <div class="col-sm-6 text-right">
        202115-202107 <a href="https://github.com/BM-cyberlink-15/big-data/tree/master">tarapyndan işlenilip düzüldi</a>
      </div>
    </div>
  </div>
</footer>
