{% load static %}

<header id="header" class="header">
  <div class="top-left">
    <div class="navbar-header">
      <a class="navbar-brand" href="./"><img src="{% static 'images/logo_1.png' %}" alt="Logo" /></a>
      <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo2.png' %}" alt="Logo" /></a>
      <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
    </div>
  </div>
  <div class="top-right">
    <div class="header-menu">
      <div class="header-left">
      </div>
      <div class="user-area dropdown float-right">
        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="user-avatar rounded-circle" src="{% static 'images/2.png' %}" alt="202115" /></a>

        <div class="user-menu dropdown-menu">
          <a class="nav-link" href="#"><i class="fa fa- user"></i>Meniň Profilim</a>

          <a class="nav-link" href="#"><i class="fa fa- user"></i>Duýduryşlar <span class="count">10</span></a>

          <a class="nav-link" href="#"><i class="fa fa -cog"></i>Sazlamalar</a>

          <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-power -off"></i>çykmak</a>
        </div>
      </div>
    </div>
  </div>
</header>

