{% extends 'base/base.html' %}

{% block title %}
  user goshmak
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <div class="breadcrumbs-inner">
      <div class="row m-0">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1><b>Big Data</b></h1>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb text-right">
                <li>
                  <a href="#">Baş sahypa</a>
                </li>
                <li>
                  <a href="#">Agza goşmak</a>
                </li>
                <li class="active">goşmak</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong class="card-title">Täze agza goşmak</strong>
        </div>
        <div class="card-body">
          <div id="pay-invoice">
            <div class="card-body">
              <form method="post" novalidate="novalidate" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">First name</label>
                      <input type="text" name="first_name" class="form-control" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Last name</label>
                      <input type="text" name="last_name" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Email</label>
                      <input type="text" name="email" class="form-control" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Local address</label>
                      <input type="text" name="local_address" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Foreign address</label>
                      <input type="text" name="foreign_address" class="form-control" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Gender</label>
                      <select name="gender" id="" class="form-control">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Date of birth</label>
                      <input type="date" name="date_of_birth" class="form-control" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Image</label>
                      <input type="file" name="img" class="form-control" />
                    </div>
                  </div>
                </div>

                <div>
                  <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block"><span id="payment-button-amount">Ýatda sakla</span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
{% endblock %}
