{% extends 'base/base.html' %}

{% block title %}
  Facebook goshmak
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <div class="breadcrumbs-inner">
      <div class="row m-0">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1><b>Big Data</b></h1>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb text-right">
                <li>
                  <a href="#">Baş sahypa</a>
                </li>
                <li>
                  <a href="#">Agza goşmak</a>
                </li>
                <li class="active">goşmak</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong class="card-title">Täze facebook kanal goşmak</strong>
        </div>
        <div class="card-body">
          <div id="pay-invoice">
            <div class="card-body">
              <form method="post" novalidate="novalidate">
                {% csrf_token %}
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Ulanyjylar</label>
                      <select name="user_id" id="" class="form-control">
                        <option value=""></option>
                        {% for user in users %}
                          <option value="{{ user.id }}">{{ user }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Kanal</label>
                      <input type="text" name="channel" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">URL</label>
                      <input type="text" name="url" class="form-control" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Video count</label>
                      <input type="number" name="video" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Followers</label>
                      <input type="number" name="followers" class="form-control" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Views</label>
                      <input type="number" name="views" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Comment</label>
                      <input type="number" name="comment" class="form-control" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Country</label>
                      <input type="text" name="country" class="form-control" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Created date</label>
                      <input type="date" name="created_date" class="form-control" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name" class="control-label mb-1">Social Media</label>
                      <input type="text" name="social_media" class="form-control" value="Facebook" disabled />
                    </div>
                  </div>
                </div>

                <div>
                  <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block"><span id="payment-button-amount">Ýatda sakla</span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
