{% extends 'base/base.html' %}
{% block title %}
  image List
{% endblock %}
{% block breadcrumbs %}
  <div class="breadcrumbs">
    <div class="breadcrumbs-inner">
      <div class="row m-0">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1><b>Big Data</b></h1>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb text-right">
                <li>
                  <a href="#">Baş Sahypa</a>
                </li>
                <li>
                  <a href="#">Agza goşmak</a>
                </li>
                <li class="active">görmek</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <h4 class="box-title">Goşulan agzalary görmek</h4>
        </div>
        <div class="card-body--">
          <div class="table-stats order-table ov-h">
            <table class="table">
              <thead>
                <tr>
                  <th class="serial">ID</th>
                  <th>User</th>
                  <th>Social Media</th>
                </tr>
              </thead>
              <tbody>
                {% if image %}
                  {% for item in image %}
                    <tr>
                      <td class="serial">{{ forloop.counter }}</td>
                      <td>{{ item.user }}</td>
                      <td>{{ item.social_media }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td>Maglumat ýok</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div> 
        </div>
      </div> 
    </div> 
  </div>
{% endblock %}
