{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  user list sahypa
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <div class="breadcrumbs-inner">
      <div class="row m-0">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1><b>Big Data</b></h1>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb text-right">
                <li>
                  <a href="#">Baş Sahypa</a>
                </li>
                <li>
                  <a href="#">Agza goşmak</a>
                </li>
                <li class="active">görmek</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'assets/css/datatables.min.css' %}" />
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <h4 class="box-title" style="font-size: 25px;">Goşulan agzalary görmek</h4>
        </div>
        <div class="card-body--">
          <div class="table-stats order-table ov-h container-fluid p-3">
            <table id="example" class="table table-striped table-bordered">
              <thead class="table-dark">
                <tr>
                  <th class="serial">ID</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th>Local address</th>
                  <th>Foreign address</th>
                  <th>gender</th>
                  <th>date_of_birth</th>
                  <th>Image</th>
                </tr>
              </thead>
              <tbody>
                {% if users %}
                  {% for user in users %}
                    <tr>
                      <td class="serial">{{ forloop.counter }}</td>
                      <td>{{ user.first_name }}</td>
                      <td>{{ user.last_name }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.local_address }}</td>
                      <td>{{ user.foreign_address }}</td>
                      <td>{{ user.gender }}</td>
                      <td>{{ user.date_of_birth }}</td>
                      <td>
                        {% if user.img %}
                          <img src="{{ user.img.url }}" alt="surat" style="width:50px; height:50px" />
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td>Maglumat ýok</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/datatables.min.js' %}"></script>
  <script src="{% static 'assets/js/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/js/vfs_fonts.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
{% endblock %}
